*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-wrappper{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
}
.card-content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px; 
  margin-top: 1rem;
  margin-bottom: 1rem;
width: 20%;
}